*{
    margin: 0;
    padding: 0;
}
#home

header{
    position: fixed;
    max-height: 100px;
}

.navbar{
    display: flex;
}
.leftnav{
    width: 40%;
    display: flex;
}
.rightnav{
    display: flex;
    width: 60%;
}
.rightnav ul{
    display: flex;
    gap: 80px;
    list-style: none;
    margin: 10px;
    
}
.rightnav ul li a{
    text-decoration: none;
    font-family: cursive;
    font-size: medium;
}
.rightnav ul li{
    padding: 4px;
}
.rightnav ul li a:hover{
    color:orange;
    background-color: aliceblue;
    border-radius: 10px;

}
.logo{
justify-content: center;
align-items: center;
display: flex;
}
.logo img{
     aspect-ratio: 1; 
    width: 50px ;
    
} 

