body{
    overflow-x:hidden ;
    background: url(../../img/admiss.jpg) no-repeat;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
}
.container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
}
.fname{
    font-family: Sanskar;
}
.san{
    text-align: center;
    font-size: large;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}