@font-face {
    font-family: Juliee;
    src: url(../fonts/Julee-Regular.ttf);
}
@font-face {
    font-family: Suresh;
    src: url(../fonts/RobotoMono-VariableFont_wght.ttf);
}
@font-face {
    font-family: Chudamani;
    src: url(../fonts/BubblegumSans-Regular.ttf);
}
@font-face {
    font-family: Dhanjay;
    src: url(../fonts/BubblerOne-Regular.ttf);
}
@font-face {
    font-family: Bharat;
    src: url(../fonts/Caveat-VariableFont_wght.ttf);
}
@font-face {
    font-family: Yuvraj;
    src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: Punnet;
    src: url(../fonts/GloriaHallelujah-Regular.ttf);
}
@font-face {
    font-family: Twinkle;
    src: url(../fonts/Handlee-Regular.ttf);
}
@font-face {
    font-family: Subhi;
    src: url(../fonts/Lobster-Regular.ttf);
}
@font-face {
    font-family: Sanskar;
    src: url(../fonts/Ubuntu-Regular.ttf);
}
