header{
    position: fixed;

}
header:hover{
    background-color: rgba(32, 41, 26, 0.268);
}

.navbar{
    display: flex;
    width: 100vw;
}
.leftnav{
    width: 40%;
    display: flex;
}
.rightnav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}
.rightnav ul{
    display: flex;
    gap: 80px;
    list-style: none;
    margin: 10px;
    margin-right: 100px;
    
}
.rightnav ul li a{
    text-decoration: none;
    font-family: cursive;
    font-size: medium;
    padding: 5px 10px;
    transition: 0.3s ease-in-out;
    font-family: Sanskar;
}
.rightnav ul li{
    padding: 4px;

}
.rightnav ul li a:hover{
    border-bottom: 2px solid black;
    color:rgb(255, 255, 255);
    border-radius: 10px;

}
.logo{
justify-content: center;
align-items: center;
display: flex;
}
.logo img{
     aspect-ratio: 1; 
    width: 50px ;
    
} 